/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px){

    /* GENERAL STYLING */
        main{
            background-color: #660000;
            margin: .25em;
            padding: .25em;
        }

        nav, footer{
            background-color: #a91101;
        }

        h1, p, th, td, label, li a{
            color: #FF8E00;
        }

        body{
            background-color: #660000;
        }

        img{
            max-width: 100%;
        } 

        p{
            100%;
        }



    /* NAV STYLING */
        .links{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }


        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            list-style-type: none;
            margin: none;
            padding: 2em;
        }

        li{
            flex: 1;
            font-size: 3em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }


        li a:hover{
            display: block;
            color: #fff;
            text-shadow: #FF8E00;

        }

    /* INFO PAGE */

        /*No Borders around the outside of the table*/
        table {
            border-collapse: collapse;
        }
        table td, table th {
            border: 2.5px solid #fff; 
        }
        table tr:first-child td {
            border-top: 0;
        }
        table tr td:first-child {
            border-left: 0;
        }
        table tr:last-child td {
            border-bottom: 0;
        }
        table tr td:last-child {
            border-right: 0;
        }
    
        table tr:first-child th {
            border-top: 0;
        }
        table tr th:first-child {
            border-left: 0;
        }
        table tr:last-child th {
            border-bottom: 0;
        }
        table tr th:last-child {
            border-right: 0;
        }

        table{
            padding: .25em;
            margin: .25em;
        }

    /* FLEXBOX */
        .flexbox{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

        }

        .column{
            flex: 1;
        }


    /* CONTENT */
        h1{
            font-size: 2.5em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            padding: .5em;
            text-align: center;
        }   

        .content{
            font-size: 2em;
        }

        td{
            padding: .5em;
            text-align: center;
        }

        p{
            padding: .5em;
        }

        img, ul{
            border: .25em solid;
            border-color: #ff8c00b0;
        }


    /* CONTACT PAGE */

        .filler{
            text-color: invisible;
        }

        .form-label{
            font-size: 2em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

            text-align: center;
        } 

        label:hover{
            color: #FFFFFF; 
        }

        input, textarea{
            align-items: center;
            padding: 1em;
            margin: 1em;
        }

        textarea{
            font-family: ;
        }

        #contactsection{
            margin: 1em;
        }

        button{
            background-color: #FF8E00;
            color: #000;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            font-size: 2em;
            font-weight: bold;
            align-items: center;
        }

        button:hover{
            background-color: #000;
            color: #FF8E00; 
            text-shadow: 1px 1px 2px black;
        }

}

@media screen and (min-width: 0px) and (max-width: 768px){

    /*GENERAL STYLING*/    
        main{
            background-color: #660000;
            margin-top: .25em;
            margin-bottom: .25em;
        }

        nav, footer{
            background-color: #a91101;
        }

        h1, p, th, td, label, li a{
            color: #FF8E00;
        }

        body{
            background-color: #660000;
        }

        img{
            max-width: 98%;
            align-items: center;
        } 

        h1 {
            font-size: 2em;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .aboutmetitle{
            font-size: 3em;
            padding-bottom: .75em;
        }
        /* location matters here, Cancel out the h1 rules for th element for mobile*/
    

        p{
            font-size: 2em;
        }

        th{
            1em;
        }

        td{
            font-size: 1.5em;
        }

        .tabletitle{
            font-size: 1.5em;
            padding-bottom: 1em;
        }

        #aboutme{
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            padding-left: 2em;
            padding-right: 2em;
        }

        table{
            display: flex;
        }

        tr{
            flex: 1;
        }


    /* NAV STYLING */
        .links{
        }

        img, ul{
            border: .25em solid;
            border-color: #ff8c00b0;
        }

        img{
            margin-top: .25em;
            margin-bottom: .25em;
        }

        ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
            list-style-type: none;
            margin: none;
            padding: 2em;
        }

        li{
            flex: 1;
            font-size: 3em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
            padding: .5em;
        }


        li a:hover{
            display: block;
            color: #FFFFFF;
            text-shadow: #FF8E00;

        }

    /* CONTACT PAGE */

          .filler{
            display: none;
        }

        .form-label{
            font-size: 2em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            text-align: center;
        } 

        input, textarea{
            align-items: center;
            padding: 1em;
            margin: 1em;
        }

        #contactsection{
            margin: 1em;
        }

        button{
            background-color: #FF8E00;
            color: #000;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
            font-size: 2em;
            font-weight: bold;
            align-items: center;
        }

        #contactform{
            padding-left: 10em;
            padding-right: 10em;
            width: 100%;
        }


}